
/* General */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo para la barra de navegación */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semi-transparente */
  padding: 10px 0;
  z-index: 999;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #aaa;
}

.apple-icon svg {
  fill: white;
  transition: fill 0.3s ease;
}

.apple-icon a:hover svg {
  fill: #aaa;
}

/* Cambiar color de los elementos al hacer scroll */
nav, .apple-icon a {
  transition: all 0.3s ease;
}

/* Cambiar el fondo del nav al hacer scroll */
nav.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}
