body {
    font-family: Arial, sans-serif;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label, input, select {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgba(0, 140, 255, 0.664);
  }
  
  .subsidy {
    background-color: #d4edda;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    color: blue;
    font-weight: bold;
  }
  